# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Nix
result
result-*
.direnv/

# IDE configs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
